Repository skyoo2003/kakaowork-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, mypy, yapf, pytest

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

pydocstyle:
  name: pydocstyle
  language: system
  entry: poetry run pydocstyle --config=.pydocstyle

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

yapf:
  name: yapf
  language: system
  entry: poetry run yapf --parallel --in-place

pytest:
  name: pytest
  language: system
  entry: poetry run pytest

Update codes
  tests/blockkit_test.py
Due: flake8, mypy, yapf, pytest

No fail fast in CI
  .github/workflows/ci.yml
Due: none

No fail fast in CI (#158)
  .github/workflows/ci.yml
Due: none

Refactoring test codes (#155)
  tests/blockkit_test.py
Due: flake8, mypy, yapf, pytest

Refactor client tests
  kakaowork/client.py
  kakaowork/consts.py
  kakaowork/utils.py
  tests/client_test.py
  tests/utils_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Update codes
  kakaowork/client.py
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Update command
  .pre-commit-config.yaml
  kakaowork/command.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added pytest mark asyncio
  tests/client_test.py
Due: flake8, mypy, yapf, pytest

Added async directive
  tests/client_test.py
Due: flake8, mypy, yapf, pytest

Refactor test codes: client (#159)
  .pre-commit-config.yaml
  kakaowork/client.py
  kakaowork/command.py
  kakaowork/consts.py
  kakaowork/utils.py
  tests/client_test.py
  tests/utils_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

WIP: Refactored command_test and fix bugs
  kakaowork/command.py
  tests/command_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added examples
  examples/__init__.py
  examples/async/__init__.py
  examples/async/list_conversations.py
  examples/async/send_messages.py
  examples/list_conversations.py
  examples/reactive_handler.py
  examples/send_messages.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Fixed errors for datetime format of str type
  kakaowork/models.py
  tests/models_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/163.bugfix
Due: none

Fixed ratelimiter capacity reset not working
  kakaowork/client.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Fixed errors for datetime format of str type in models (#163)
  kakaowork/models.py
  news/163.bugfix
  tests/models_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/164.bugfix
Due: none

Added missing imports in __init__
  kakaowork/__init__.py
  kakaowork/blockkit.py
  kakaowork/command.py
  kakaowork/consts.py
  kakaowork/exceptions.py
  kakaowork/models.py
  kakaowork/reactive.py
  kakaowork/utils.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Changed BlockKitBuilder.load to class method
  kakaowork/blockkit.py
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/166.breaking
Due: none

Fixed ratelimiter capacity reset not working (#164)
  kakaowork/client.py
  news/164.bugfix
Due: flake8, pydocstyle, mypy, yapf, pytest

Added missing imports in __init__ (#165)
  kakaowork/__init__.py
  kakaowork/blockkit.py
  kakaowork/command.py
  kakaowork/consts.py
  kakaowork/exceptions.py
  kakaowork/models.py
  kakaowork/reactive.py
  kakaowork/utils.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Changed BlockKitBuilder.load to class method (#166)
  kakaowork/blockkit.py
  news/166.breaking
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.7.0
  CHANGELOG.rst
  kakaowork/__init__.py
  news/151.bugfix
  news/156.bugfix
  news/157.breaking
  news/163.bugfix
  news/164.bugfix
  news/166.breaking
  poetry.lock
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.7.0 (#167)
  CHANGELOG.rst
  kakaowork/__init__.py
  news/151.bugfix
  news/156.bugfix
  news/157.breaking
  news/163.bugfix
  news/164.bugfix
  news/166.breaking
  poetry.lock
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Added examples (#162)
  examples/__init__.py
  examples/async/__init__.py
  examples/async/list_conversations.py
  examples/async/send_messages.py
  examples/list_conversations.py
  examples/reactive_handler.py
  examples/send_messages.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Changed content type header to lowercase in async client
  kakaowork/client.py
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Update
  kakaowork/client.py
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added content-type header in async client (#168)
  kakaowork/client.py
  news/168.bugfix
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.7.1
  CHANGELOG.rst
  kakaowork/__init__.py
  news/168.bugfix
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.7.1 (#169)
  CHANGELOG.rst
  kakaowork/__init__.py
  news/168.bugfix
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Update codes
  kakaowork/command.py
  tests/command_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Refactor and fix codes: command (#161)
  kakaowork/command.py
  tests/command_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Drop Python 3.6 support due to EOL
  README.md
  docs/user/installation.rst
  news/136.breaking
  poetry.lock
  pyproject.toml
Due: none

Remove 3.6 from CI
  .github/workflows/ci.yml
Due: none

Drop Python 3.6 support due to EOL (#183)
  .github/workflows/ci.yml
  README.md
  docs/user/installation.rst
  news/136.breaking
  poetry.lock
  pyproject.toml
Due: none

Update CHANGELOG and __version__
  CHANGELOG.rst
  kakaowork/__init__.py
  news/136.breaking
Due: flake8, pydocstyle, mypy, yapf, pytest

Path conditions:
  flake8: any of: .py$
  pydocstyle: any of: .py$, but not: tests
  mypy: any of: .py$
  yapf: any of: .py$
  pytest: any of: .py$
