Repository skyoo2003/kakaowork-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, mypy, yapf, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        files: ".py$"
      - id: pydocstyle
        name: pydocstyle
        language: system
        entry: poetry run pydocstyle --config=.pydocstyle
        files: ".py$"
        exclude: "tests"
      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        files: ".py$"
      - id: yapf
        name: yapf
        language: system
        entry: poetry run yapf --parallel --in-place
        files: ".py$"
      - id: pytest
        name: pytest
        language: system
        entry: poetry run pytest
        files: ".py$"

Fix pydocstyle
  .pre-commit-config.yaml
  .pydocstyle
  poetry.lock
  pyproject.toml
Due: none

Added Kakaowork messsages.send_by_email API
  Makefile
  kakaowork/client.py
  kakaowork/models.py
  tests/client_test.py
  tests/command_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/130.feature
Due: none

Added Kakaowork API: messages.send_by_email (#135)
  .pre-commit-config.yaml
  .pydocstyle
  Makefile
  kakaowork/client.py
  kakaowork/models.py
  news/130.feature
  poetry.lock
  pyproject.toml
  tests/client_test.py
  tests/command_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Support for TextBlock API format changed from KakaoWork 1.7 or higher
  kakaowork/blockkit.py
  kakaowork/utils.py
  news/131.enhancement
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Support for TextBlock API format changed from KakaoWork 1.7 or higher (#139)
  kakaowork/blockkit.py
  kakaowork/utils.py
  news/131.enhancement
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.5.0
  CHANGELOG.rst
  kakaowork/__init__.py
  news/130.feature
  news/131.enhancement
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.5.0 (#140)
  CHANGELOG.rst
  kakaowork/__init__.py
  news/130.feature
  news/131.enhancement
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Update deps
  poetry.lock
  pyproject.toml
Due: none

Added a news fragment
  news/141.misc
Due: none

Update dependencies (#141)
  news/141.misc
  poetry.lock
  pyproject.toml
Due: none

Added pydantic
  poetry.lock
  pyproject.toml
Due: none

WIP: replace namedtuple with pydandic
  kakaowork/blockkit.py
  kakaowork/models.py
  tests/blockkit_test.py
  tests/models_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added messages.send_by
  kakaowork/client.py
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/145.feature
Due: none

Added Kakaowork API: messages.send_by (#147)
  kakaowork/client.py
  news/145.feature
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added batch apis
  kakaowork/client.py
  kakaowork/consts.py
  kakaowork/models.py
  news/146.feature
Due: flake8, pydocstyle, mypy, yapf, pytest

Update codes
  kakaowork/blockkit.py
  kakaowork/client.py
  kakaowork/command.py
  kakaowork/models.py
  kakaowork/utils.py
  tests/blockkit_test.py
  tests/client_test.py
  tests/models_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a new fragment
  news/138.breaking
Due: none

Removed unsued methods
  kakaowork/__init__.py
  kakaowork/blockkit.py
  kakaowork/client.py
  kakaowork/exceptions.py
  kakaowork/models.py
  kakaowork/utils.py
  tests/blockkit_test.py
  tests/models_test.py
  tests/utils_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Replace NamedTuple with pydantic BaseModel (#142)
  kakaowork/__init__.py
  kakaowork/blockkit.py
  kakaowork/client.py
  kakaowork/command.py
  kakaowork/exceptions.py
  kakaowork/models.py
  kakaowork/utils.py
  news/138.breaking
  poetry.lock
  pyproject.toml
  tests/blockkit_test.py
  tests/client_test.py
  tests/models_test.py
  tests/utils_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Replaced NamedTuple with pydantic.BaseModel
  kakaowork/models.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added tests
  kakaowork/client.py
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added models in __init__
  kakaowork/__init__.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added Kakaowork APIs: /batch/users.* (#149)
  kakaowork/__init__.py
  kakaowork/client.py
  kakaowork/consts.py
  kakaowork/models.py
  news/146.feature
  tests/client_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.6.0
  CHANGELOG.rst
  kakaowork/__init__.py
  news/138.breaking
  news/141.misc
  news/145.feature
  news/146.feature
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Release 0.6.0 (#150)
  CHANGELOG.rst
  kakaowork/__init__.py
  news/138.breaking
  news/141.misc
  news/145.feature
  news/146.feature
  pyproject.toml
Due: flake8, pydocstyle, mypy, yapf, pytest

Removed validator whether URL has file extension
  kakaowork/blockkit.py
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a new fragment
  news/151.bugfix
Due: none

Removed validator whether URL has file extension (#152)
  kakaowork/blockkit.py
  news/151.bugfix
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

WIP: refactor tests
  kakaowork/blockkit.py
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Don't change the code that works
  kakaowork/blockkit.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Fixed typo
  kakaowork/blockkit.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a news fragment
  news/156.bugfix
Due: none

Changed blockkit props
  kakaowork/blockkit.py
Due: flake8, pydocstyle, mypy, yapf, pytest

Fixed typo in blockkit.TextInline (#156)
  kakaowork/blockkit.py
  news/156.bugfix
Due: flake8, pydocstyle, mypy, yapf, pytest

Added a new fragment
  news/157.breaking
Due: none

Update test
  tests/blockkit_test.py
Due: flake8, mypy, yapf, pytest

Changed to specifications for blockkit properties (#157)
  kakaowork/blockkit.py
  news/157.breaking
  tests/blockkit_test.py
Due: flake8, pydocstyle, mypy, yapf, pytest
